h3 {
    margin-top: 0.6em;
    margin-bottom: 0.6em;
}

.row {
    margin-left: 20px;
    margin-bottom: 30px;
}

.utils-button {
    background: white;
    padding: 5px 10px;
    border-color: black;
    border-radius: 5px;
    position: relative;
}

.utils-button--active {
    background: #6495ed;
}

.utils-button--loading .utils-button-value {
    visibility: hidden;
}

.utils-button--loading:after {
    position: absolute;
    top: 5px;
    left: 26px;
    display: block;
    content: '';
    width: 10px;
    height: 10px;
    border: 2px solid rgba(0, 0, 0, .3);
    border-radius: 50%;
    border-top-color: black;
    animation: spin 1s ease-in-out infinite;
    -webkit-animation: spin 1s ease-in-out infinite;
}

.my-custom-class {
    background: black;
    color: white;
    font-weight: 500;
    border-radius: 5px;
}

@keyframes spin {
    to {
        -webkit-transform: rotate(360deg);
    }
}
